.Menu{
    display:flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.Menu-link , .addBtn{
    margin: 0 0.9rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    display: block;
    font-size: 12px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.Menu-link:hover , .addBtn:hover, .btn-default:hover{
    text-decoration: none;
    color: orangered;
    transform: scale(1.05);
}
.Menu-link:focus , .addBtn:focus .btn-default:focus{
    color: orangered;
    outline: none;
    transform: scale(1);
}

.icons{
    margin-right: auto;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    margin: 0px auto;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
}

.moodLight{
    width: 35px;
    align-items: center;
    justify-content: flex-start;
    
}
.moodDark{
    width: 35px;
    align-items: center;
    justify-content: flex-end;
}

.moodSection {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 15px;
}

.moodSection .icons{
    font-size: 1rem;
    
}
.moodSection>p{
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-90deg);
    margin-top: 20px;
    padding: 0;
    text-align: center;
    margin-left: 0;
    margin-left: 15px;
}

