.gridtips{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    
    
}

.gridtips >p {
    padding: 10px;
    text-align: left;
    height: 100px;
    overflow-y: scroll;
}


.pspan{
    margin-top: 20px;
    color: orangered;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    border-radius: 10px;
}

.pspan > span {
    margin-right: 10px;
    padding: 7px;
    border-radius: 5px;
}