.gridtips{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: space-around;
    
    
}

.gridtips >p {
    padding: 10px;
    text-align: left;
    height: 100px;
    overflow-y: scroll;
}