.Menu{
    display:flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #d6dce6);
    box-shadow:  9px 9px 17px #d6dce6, 
             -9px -9px 17px #ffffff;

}

.Menu-link {
    margin: 0 1rem;
    padding: 0.5rem;
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
    display: block;
    font-size: 12px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.Menu-link:hover {
    text-decoration: none;
    color: orangered;
    transform: scale(1.05);
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
}
.Menu-link:focus {
    color: orangered;
    outline: none;
      transform: scale(0.95);
      box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset;
}

.icons{
    margin-right: auto;
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
    margin: 0px auto;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
}
