.ChatBox{
    display: grid;
    height: 80vh;
    grid-template-rows: 0.3fr 3fr 0.7fr;
}

.btn-default{
    margin:10px auto;
    padding: 10px;
    border-radius: 10px;
}

.form-control{
    border-radius: 10px;
}
.post{    
    border-radius: 10px;
    margin:18px;
    padding: 10px;
    height:100px;
    overflow-y: scroll;
}