.addBtn{
    width:50px!important;
    height:50px;
    border-radius: 10px!important;
    margin: 0 auto;
}
.addBtn>.icons{
font-size: 20px;
}

.coffeeForm{
    width: 60%;
    margin : 0px auto;
}

.AddCoffeeBtn{
    text-align: center;
    display: grid;
    justify-content: center!important;
    margin: 0px auto;
    align-content: center;

}

.input-group-text{
    background-color: rebeccapurple;
}